@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal; }

body {
  background-color: #2a0d50bd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

header {
  background: #11001a;
  background: linear-gradient(180deg, #11001a 0%, #4f0074 52%, #3a0068 100%);
  align-items: flex-end;
  display: flex;
  padding-bottom: .9375rem;
  padding-top: .9375rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  z-index: 3;
  padding-left: .625rem; }
  header div a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5rem; }
    header div a img {
      width: 2.5rem;
      height: 2.5rem; }
    header div a p {
      color: white;
      font-weight: bolder;
      font-size: 1.75rem;
      margin-bottom: 0rem; }
  header nav {
    margin-right: 1.25rem;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; }
    header nav ul {
      display: flex;
      gap: 1.25rem;
      margin: 0rem;
      padding: 0rem; }
      header nav ul li {
        font-size: 1.25rem;
        background-color: white;
        padding: .9375rem;
        border: .125rem solid black;
        border-radius: .5rem;
        list-style: none;
        transition: background-color 1s; }
        header nav ul li:hover {
          background-color: #6200ff; }
          header nav ul li:hover a {
            color: white;
            transition: 1s ease-in-out; }
        header nav ul li a {
          color: #242424;
          text-decoration: none; }

@media (max-width: 1125px) {
  header {
    padding-top: .5rem;
    padding-bottom: .5rem; }
    header nav ul li {
      font-size: 1.125rem;
      padding: .375rem; } }

@media (max-width: 768px) {
  header {
    padding-top: .25rem;
    padding-bottom: .25rem; }
    header nav ul {
      gap: .625rem; }
      header nav ul li {
        font-size: .75rem; }
    header div {
      justify-content: center;
      margin: .625rem 0rem; } }

@media (max-width: 501px) {
  header {
    flex-direction: column;
    padding-top: .125rem;
    padding-bottom: .125rem;
    padding-left: 0; }
    header div {
      justify-content: center; }
      header div p {
        font-size: 1.125rem; }
    header nav {
      margin: 0rem;
      justify-content: center; }
      header nav ul {
        gap: .625rem;
        margin-bottom: .3125rem; }
        header nav ul li {
          font-size: .875rem;
          padding: .1875rem; } }

@media (max-width: 21.875rem) {
  header nav ul {
    gap: .0625rem; } }

.index {
  background-image: url(../assets/images/background-index-2.jpg);
  background-size: cover; }
  .index header nav ul li:nth-child(1) {
    background-color: #723fff; }
    .index header nav ul li:nth-child(1) a {
      color: white; }
  .index main section:nth-child(1) {
    margin-top: 6.25rem; }
    .index main section:nth-child(1) div h1 {
      color: white;
      text-shadow: #000000 .3125rem .3125rem .9375rem;
      text-align: center;
      font-size: 5rem;
      padding-top: 1.875rem; }
      .index main section:nth-child(1) div h1 span {
        animation: arcoiris 6s infinite; }
    .index main section:nth-child(1) div div {
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column; }
      .index main section:nth-child(1) div div p {
        color: white;
        text-shadow: #0E0E0E 0rem 0 .3125rem;
        padding: 1.875rem;
        margin-top: 2.5rem;
        margin-left: 15%;
        margin-bottom: 2.5rem;
        margin-right: 15%;
        font-size: 1.5625rem;
        background-color: #20202081;
        text-align: center;
        letter-spacing: .1875rem; }
        .index main section:nth-child(1) div div p .rojo {
          animation: arcoiris 6s infinite; }
  .index main section:nth-child(2) {
    padding: 3.75rem;
    text-shadow: #0E0E0E 0rem 0 .9375rem;
    color: #cafbff;
    text-align: center;
    font-size: 2rem;
    background: #2d0066;
    background: radial-gradient(circle, #3c008b 0%, #2d0042 100%); }
    .index main section:nth-child(2) p {
      margin-top: .625rem;
      color: white;
      margin-left: 6.25rem;
      margin-right: 6.25rem; }

@keyframes arcoiris {
  0% {
    color: orange; }
  25% {
    color: red; }
  50% {
    color: #8600df; }
  75% {
    color: #4545ff; }
  90% {
    color: skyblue; }
  100% {
    color: #ffb62e; } }

.card-index {
  width: 80%;
  margin: auto;
  margin-top: 3.75rem; }
  .card-index div {
    flex-wrap: wrap;
    gap: 4.375rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 2.5rem;
    width: 100%;
    height: 100%; }
    .card-index div .container-producto {
      border-radius: .625rem;
      background-color: #242424;
      width: 25%;
      transition: transform 0.3s ease;
      z-index: 1; }
      .card-index div .container-producto a {
        width: 100%;
        height: 100%;
        text-decoration: none; }
        .card-index div .container-producto a div {
          background: none;
          display: none; }
        .card-index div .container-producto a .texto {
          display: none; }
          .card-index div .container-producto a .texto ul {
            background: none; }
            .card-index div .container-producto a .texto ul li {
              background: none; }
        .card-index div .container-producto a img {
          border-top-left-radius: .625rem;
          border-top-right-radius: .625rem;
          width: 100%;
          height: 23.75rem; }
      .card-index div .container-producto p {
        border-bottom-left-radius: .625rem;
        border-bottom-right-radius: .625rem;
        padding-bottom: .3125rem;
        font-size: 1.875rem;
        background-color: #723fff;
        padding-top: .625rem;
        text-align: center;
        color: white; }
      .card-index div .container-producto:hover {
        transform: scale(1.2);
        z-index: 2; }
        .card-index div .container-producto:hover .container-interno {
          backdrop-filter: blur(0.1875rem);
          border-radius: .625rem;
          width: 100%;
          display: block;
          position: absolute;
          text-align: center;
          height: 100%;
          animation-name: difuminado;
          animation-timing-function: ease-in;
          animation-duration: 0.3s; }
          .card-index div .container-producto:hover .container-interno .texto {
            display: block;
            position: absolute;
            color: #ff0000;
            background-color: inherit;
            width: 100%;
            text-align: center;
            text-shadow: #000000 .125rem .125rem .25rem; }
          .card-index div .container-producto:hover .container-interno ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80%; }
            .card-index div .container-producto:hover .container-interno ul li {
              padding: .375rem;
              color: #ff0000;
              font-size: 1.25rem;
              text-shadow: #000000 .125rem .125rem .25rem; }
  @media (max-width: 768px) {
    .card-index {
      margin-top: 1.25rem; }
      .card-index div {
        margin-bottom: 1.25rem;
        gap: .625rem;
        justify-content: space-evenly; }
        .card-index div .container-producto {
          width: 40%; }
          .card-index div .container-producto img {
            width: 100%; }
          .card-index div .container-producto p {
            font-size: 1.4375rem; } }
  @media (max-width: 425px) {
    .card-index div .container-producto {
      width: 70%; } }

@media (max-width: 1334px) {
  .card-index {
    width: 100%; } }

@keyframes difuminado {
  0% {
    filter: blur(1.25rem); }
  100% {
    filter: none; } }

.card-componentes {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "div1 div1 div1 div3 div3 div4 div4 " "div1 div1 div1 div3 div3 div4 div4 " "div1 div1 div1 div5 div5 div6 div6 " "div2 div2 div2 div5 div5 div6 div6 " "div2 div2 div2 div7 div7 div8 div8 " "div2 div2 div2 div7 div7 div8 div8 ";
  margin: auto;
  gap: 1.25rem;
  margin-bottom: 3.75rem;
  margin-top: 3.75rem; }
  .card-componentes .container-individual-producto {
    color: white;
    background-color: #0e0e0e91;
    display: flex;
    gap: 1.875rem; }
    .card-componentes .container-individual-producto img {
      margin: .625rem; }
    .card-componentes .container-individual-producto .img-izquierda {
      width: 10rem;
      height: 10.25rem; }
    .card-componentes .container-individual-producto .img-derecha {
      width: 6.25rem;
      height: 6.25rem; }
    .card-componentes .container-individual-producto div h3 {
      font-size: 1.5625rem;
      margin-top: .3125rem;
      color: #723fff; }
    .card-componentes .container-individual-producto div ul {
      margin-bottom: .3125rem;
      margin-right: .3125rem; }
      .card-componentes .container-individual-producto div ul li {
        margin-top: .625rem;
        font-size: 1.1875rem; }
  .card-componentes div:nth-child(1) {
    grid-area: div1; }
  .card-componentes div:nth-child(2) {
    grid-area: div2; }
  .card-componentes div:nth-child(3) {
    grid-area: div3; }
  .card-componentes div:nth-child(4) {
    grid-area: div4; }
  .card-componentes div:nth-child(5) {
    grid-area: div5; }
  .card-componentes div:nth-child(6) {
    grid-area: div6; }
  .card-componentes div:nth-child(7) {
    grid-area: div7; }
  .card-componentes div:nth-child(8) {
    grid-area: div8; }
  @media (max-width: 768px) {
    .card-componentes {
      margin-top: 1.25rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .card-componentes .container-individual-producto {
        width: 45%; } }
  @media (max-width: 425px) {
    .card-componentes .container-individual-producto {
      width: 80%; } }

@media (max-width: 1024px) {
  .card-index div .container-producto a img {
    height: 18.75rem; } }

@media (max-width: 1125px) {
  .index main section:nth-child(1) {
    margin-top: 3.75rem; }
    .index main section:nth-child(1) div h1 {
      font-size: 3.75rem; }
    .index main section:nth-child(1) div div p {
      font-size: 1.625rem; }
  .index main section:nth-child(2) {
    padding: 1.25rem; } }

@media (max-width: 768px) {
  .index main section:nth-child(1) {
    margin-top: 2.5rem; }
    .index main section:nth-child(1) div h1 {
      font-size: 3.125rem; }
    .index main section:nth-child(1) div div img {
      height: 25rem; }
    .index main section:nth-child(1) div div p {
      font-size: 1.125rem; }
  .index main section:nth-child(2) {
    font-size: 1.5625rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem; }
    .index main section:nth-child(2) p {
      margin-left: 0;
      margin-right: 0;
      margin-top: .625rem; } }

@media (max-width: 526px) {
  .index main section:nth-child(1) {
    margin-top: 4.375rem; }
    .index main section:nth-child(1) div h1 {
      font-size: 2.5rem; }
    .index main section:nth-child(1) div div img {
      height: 18.75rem; }
    .index main section:nth-child(1) div div p .invicible {
      display: none; } }

@media (max-width: 425px) {
  .index main section:nth-child(1) div div img {
    height: 17.5rem; }
  .index main section:nth-child(1) div div p {
    margin-right: .625rem;
    margin-left: .625rem;
    padding-left: .625rem;
    padding-right: .625rem; }
  .index main section:nth-child(2) {
    padding: .1875rem;
    font-size: 1.25rem; }
    .index main section:nth-child(2) p {
      font-size: 1.4375rem; } }

@media (max-width: 20.3125rem) {
  .index main section:nth-child(1) {
    margin-top: 4.375rem; }
    .index main section:nth-child(1) div h1 {
      font-size: 1.875rem; }
  .index main section:nth-child(2) {
    padding: .1875rem;
    font-size: 1.25rem; }
    .index main section:nth-child(2) p {
      font-size: 1.1875rem; } }

.nosotros {
  background-image: url(../assets/images/pagina-4.jpg); }
  .nosotros header nav ul li:nth-child(3) {
    background-color: #723fff; }
    .nosotros header nav ul li:nth-child(3) a {
      color: white; }
  .nosotros main {
    margin-top: 7.5rem; }
    .nosotros main section .rojo {
      color: #ff4800; }
    .nosotros main section:nth-child(1) h1 {
      color: white;
      text-shadow: #000000 .3125rem .3125rem 1.875rem;
      text-align: center;
      font-size: 4.375rem;
      margin-bottom: 2.5rem; }
    .nosotros main section:nth-child(1) div {
      display: flex;
      justify-content: center; }
      .nosotros main section:nth-child(1) div p {
        align-items: center;
        background-color: #000000b0;
        padding: 2.5rem;
        text-align: center;
        font-size: 1.5625rem;
        color: white;
        width: 90%; }
    .nosotros main section:nth-child(2) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 12.5rem; }
      .nosotros main section:nth-child(2) div {
        margin: .625rem 10% .625rem 10%;
        display: flex;
        align-items: center; }
        .nosotros main section:nth-child(2) div img {
          height: 18.75rem;
          border-radius: .625rem; }
        .nosotros main section:nth-child(2) div p {
          width: 70%;
          color: white;
          text-shadow: #0E0E0E .25rem 0 .3125rem;
          font-size: 1.4375rem;
          margin-left: 3.125rem;
          margin-right: 3.125rem; }
        .nosotros main section:nth-child(2) div:nth-child(2) {
          flex-direction: row-reverse;
          animation-delay: 1s; }
    .nosotros main section:nth-child(3) .segundo-titulo {
      padding: 3.75rem;
      text-shadow: #0E0E0E 0rem 0 .9375rem;
      color: #cafbff;
      text-align: center;
      font-size: 2.8125rem;
      background: #2d0066;
      background: radial-gradient(circle, #3c008b 0%, #2d0042 100%); }

@keyframes slide-top {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-6.25rem); } }

.slide-top {
  animation: slide-top 2s both; }

.accordion-item {
  background-color: #723fff;
  border: .25rem solid black; }

.fondo-personalizado-violeta {
  background-color: #497CFF; }

.accordion {
  margin-top: 1.25rem; }

@media (max-width: 1134px) {
  .nosotros main {
    margin-top: 8.75rem; }
    .nosotros main section:nth-child(1) h1 {
      font-size: 3.75rem; } }

@media (max-width: 1024px) {
  .nosotros main {
    margin-top: 6.25rem; }
    .nosotros main section:nth-child(1) div p {
      font-size: 1.375rem; }
    .nosotros main section:nth-child(2) div img {
      width: 50%;
      height: 16.25rem; }
    .nosotros main section:nth-child(2) div p {
      font-size: 1.25rem; } }

@media (max-width: 768px) {
  .nosotros main {
    margin-top: 6.25rem; }
    .nosotros main section:nth-child(1) h1 {
      font-size: 3rem; }
    .nosotros main section:nth-child(1) div p {
      font-size: 1.25rem;
      padding: 1.875rem; }
    .nosotros main section:nth-child(2) {
      margin-top: 1.875rem;
      gap: 1.25rem; }
      .nosotros main section:nth-child(2) div {
        margin-top: 6.25rem;
        flex-direction: column; }
        .nosotros main section:nth-child(2) div img {
          width: 70%;
          height: 16.25rem;
          margin-bottom: 1.25rem; }
        .nosotros main section:nth-child(2) div p {
          width: 90%;
          font-size: 1.25rem;
          text-align: center; }
        .nosotros main section:nth-child(2) div:nth-child(2) {
          margin-top: 1.875rem;
          flex-direction: column; } }

@media (max-width: 425px) {
  .nosotros main {
    margin-top: 8.125rem; }
    .nosotros main section:nth-child(1) h1 {
      font-size: 2.1875rem; }
    .nosotros main section:nth-child(1) div {
      margin-left: .625rem;
      margin-right: .625rem; }
      .nosotros main section:nth-child(1) div p {
        padding: .625rem;
        font-size: 1.125rem; }
        .nosotros main section:nth-child(1) div p .invicible {
          display: none; }
    .nosotros main section:nth-child(2) div {
      margin-left: .625rem;
      margin-right: .625rem; }
      .nosotros main section:nth-child(2) div img {
        width: 95%;
        height: 14.375rem; }
      .nosotros main section:nth-child(2) div p {
        width: 100%;
        font-size: 1.125rem; }
    .nosotros main section:nth-child(3) .segundo-titulo {
      font-size: 2.0625rem; } }

.FAQ {
  background: #670071;
  background: linear-gradient(142deg, #670071 0%, #67009d 52%, #002ab6 100%); }
  .FAQ header nav ul li:nth-child(4) {
    background-color: #723fff; }
    .FAQ header nav ul li:nth-child(4) a {
      color: white; }
  .FAQ main section:nth-child(1) {
    margin: 6.25rem 5% 3.125rem 5%; }
    .FAQ main section:nth-child(1) .rojo {
      color: #ff4800;
      font-weight: bolder; }
    .FAQ main section:nth-child(1) .azul {
      color: #2020ff; }
    .FAQ main section:nth-child(1) h1 {
      text-shadow: #747474 .3125rem .3125rem 1.875rem;
      color: white;
      font-size: 5rem;
      margin-bottom: 3.125rem; }
    .FAQ main section:nth-child(1) div p {
      letter-spacing: .125rem; }
    .FAQ main section:nth-child(1) div .container-blanco {
      border-top: .75rem double;
      border-top-color: transparent;
      border-right: .75rem double;
      border-right-color: transparent;
      border-bottom: .75rem double;
      border-bottom-color: black;
      border-left: .75rem double;
      border-left-color: black;
      display: flex;
      font-size: 1.1875rem;
      gap: 1.875rem;
      padding: 1.25rem 1.25rem 3.75rem 1.25rem;
      justify-content: space-between;
      background-color: #ffffff86;
      align-items: center; }
      .FAQ main section:nth-child(1) div .container-blanco h2 {
        width: 30%;
        padding-right: .625rem;
        border-right: .25rem solid;
        border-right-color: black;
        color: black; }
      .FAQ main section:nth-child(1) div .container-blanco p {
        color: black;
        width: 70%; }
    .FAQ main section:nth-child(1) div .container-negro {
      border-top: .75rem double;
      border-top-color: transparent;
      border-right: .75rem double;
      border-right-color: white;
      border-bottom: .75rem double;
      border-bottom-color: white;
      border-left: .75rem double;
      border-left-color: transparent;
      display: flex;
      font-size: 1.1875rem;
      gap: 1.875rem;
      padding: 1.25rem 1.25rem 3.75rem 1.25rem;
      justify-content: space-between;
      background-color: #00000085;
      align-items: center; }
      .FAQ main section:nth-child(1) div .container-negro h2 {
        width: 30%;
        padding-right: .625rem;
        border-right: .25rem solid;
        border-right-color: white;
        color: white; }
      .FAQ main section:nth-child(1) div .container-negro p {
        color: white;
        width: 70%; }

@media (max-width: 789px) {
  .FAQ main section:nth-child(1) h1 {
    font-size: 3.125rem;
    margin-bottom: 1.5625rem; }
  .FAQ main section:nth-child(1) div .container-blanco h2 {
    font-size: 1.375rem; }
  .FAQ main section:nth-child(1) div .container-blanco p {
    font-size: 1.1875rem; }
  .FAQ main section:nth-child(1) div .container-negro h2 {
    font-size: 1.375rem; }
  .FAQ main section:nth-child(1) div .container-negro p {
    font-size: 1.1875rem; } }

@media (max-width: 621px) {
  .FAQ main section:nth-child(1) {
    margin-bottom: 1.875rem; }
    .FAQ main section:nth-child(1) div .container-blanco {
      flex-direction: column; }
      .FAQ main section:nth-child(1) div .container-blanco h2 {
        text-align: center;
        width: 100%;
        border-right: none;
        border-bottom: solid black; }
      .FAQ main section:nth-child(1) div .container-blanco p {
        width: 90%; }
    .FAQ main section:nth-child(1) div .container-negro {
      flex-direction: column; }
      .FAQ main section:nth-child(1) div .container-negro h2 {
        width: 100%;
        text-align: center;
        border-right: none;
        border-bottom: solid white; }
      .FAQ main section:nth-child(1) div .container-negro p {
        width: 90%; } }

@media (max-width: 320px) {
  .FAQ main section:nth-child(1) h1 {
    font-size: 1.7rem; }
  .FAQ main section:nth-child(1) div .container-blanco p {
    font-size: 1rem; }
  .FAQ main section:nth-child(1) div .container-negro p {
    font-size: 1rem; } }

.contacto {
  background-image: url(../assets/images/pagina-5.jpg); }
  .contacto header nav ul li:nth-child(5) {
    background-color: #723fff; }
    .contacto header nav ul li:nth-child(5) a {
      color: white; }
  .contacto main .flex-contacto {
    display: flex;
    justify-content: center;
    margin-top: 6.25rem; }
    .contacto main .flex-contacto .container-contacto {
      border-radius: .9375rem;
      background-color: white;
      margin: 3.125rem;
      width: 80%;
      height: 37.5rem; }
      .contacto main .flex-contacto .container-contacto h1 {
        padding-left: .625rem;
        font-size: 2.1875rem;
        border-top-left-radius: .8125rem;
        border-top-right-radius: .8125rem;
        color: white;
        background-color: #242424; }
      .contacto main .flex-contacto .container-contacto .container-inputs-contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%; }
        .contacto main .flex-contacto .container-contacto .container-inputs-contacto .top-items, .contacto main .flex-contacto .container-contacto .container-inputs-contacto .bottom-items {
          margin-top: 1.875rem;
          margin-bottom: 1.875rem;
          display: flex;
          width: 95%;
          justify-content: space-between; }
          .contacto main .flex-contacto .container-contacto .container-inputs-contacto .top-items label, .contacto main .flex-contacto .container-contacto .container-inputs-contacto .bottom-items label {
            display: none; }
          .contacto main .flex-contacto .container-contacto .container-inputs-contacto .top-items input, .contacto main .flex-contacto .container-contacto .container-inputs-contacto .bottom-items input {
            width: 45%;
            padding: .625rem;
            border: #000000 solid .0625rem;
            border-radius: 1.25rem;
            text-align: left; }
        .contacto main .flex-contacto .container-contacto .container-inputs-contacto .bottom-items {
          margin-top: 0rem;
          margin-bottom: 0rem; }
          .contacto main .flex-contacto .container-contacto .container-inputs-contacto .bottom-items input::-webkit-outer-spin-button,
          .contacto main .flex-contacto .container-contacto .container-inputs-contacto .bottom-items input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; }
        .contacto main .flex-contacto .container-contacto .container-inputs-contacto .blank-space {
          display: flex;
          flex-direction: column;
          width: 95%;
          height: 18.75rem; }
          .contacto main .flex-contacto .container-contacto .container-inputs-contacto .blank-space .motivo {
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            padding: .625rem;
            border: #000000 solid .0625rem;
            border-radius: 1.25rem;
            text-align: center;
            margin-top: 1.875rem; }
          .contacto main .flex-contacto .container-contacto .container-inputs-contacto .blank-space input:nth-child(3) {
            padding: .625rem;
            border: #000000 solid .0625rem;
            border-radius: 1.25rem;
            text-align: left;
            margin-top: 1.875rem;
            height: 60%; }
        .contacto main .flex-contacto .container-contacto .container-inputs-contacto button {
          background-color: #497CFF;
          margin-top: 1.375rem;
          width: 30%;
          padding-top: 1.25rem;
          padding-bottom: 1.25rem;
          border-radius: 1.25rem;
          text-align: center; }
  .contacto main section:nth-child(2) {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    background-color: #1111119f;
    padding: 1.25rem; }
    .contacto main section:nth-child(2) div h2 {
      font-size: 1.875rem;
      color: white;
      margin-bottom: .625rem;
      border-bottom: 0.125rem solid white; }
    .contacto main section:nth-child(2) div p {
      font-size: 1.25rem;
      color: white;
      margin-bottom: .625rem; }
    .contacto main section:nth-child(2) div h3 {
      font-size: 1.875rem;
      border-bottom: 0.125rem solid #723fff;
      color: #723fff;
      margin-bottom: .625rem; }
    .contacto main section:nth-child(2) div ul li {
      margin-bottom: .625rem; }
      .contacto main section:nth-child(2) div ul li a {
        color: #ff0000;
        text-decoration: none;
        font-size: 1.875rem; }
        .contacto main section:nth-child(2) div ul li a:hover {
          color: #723fff;
          transition: color .5s ease-out; }
    .contacto main section:nth-child(2) iframe {
      width: 45%;
      height: 25rem; }

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem; }

.boton-faq {
  font-size: 1.875rem;
  text-decoration: none;
  background: #fff;
  color: #4741d7;
  border: .1875rem solid #2923d1;
  padding: 1.25rem 5%;
  border-radius: .3125rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-align: center; }
  .boton-faq .rojo {
    color: #497CFF; }

.boton-faq:hover {
  color: white; }
  .boton-faq:hover .rojo {
    color: #ff4800; }

.boton-faq::after {
  content: "";
  background: #2923d1;
  position: absolute;
  z-index: -1;
  padding: 1rem 1.25rem;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.boton-faq:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

@media (max-width: 500px) {
  .boton-faq {
    font-size: 1.25rem;
    padding: 1.25rem .625rem; } }

@media (max-width: 768px) {
  .contacto main section:nth-child(2) iframe {
    height: 21.25rem; } }

@media (max-width: 425px) {
  .contacto main .flex-contacto .container-contacto {
    height: 44rem; }
    .contacto main .flex-contacto .container-contacto h1 {
      text-align: center; }
    .contacto main .flex-contacto .container-contacto .container-inputs-contacto .top-items, .contacto main .flex-contacto .container-contacto .container-inputs-contacto .bottom-items {
      flex-direction: column;
      gap: 1.25rem;
      align-items: center; }
      .contacto main .flex-contacto .container-contacto .container-inputs-contacto .top-items input, .contacto main .flex-contacto .container-contacto .container-inputs-contacto .bottom-items input {
        width: 90%; }
    .contacto main .flex-contacto .container-contacto .container-inputs-contacto .blank-space .motivo {
      width: 97%; }
    .contacto main .flex-contacto .container-contacto .container-inputs-contacto button {
      width: 50%;
      padding: .9375rem; } }

@media (max-width: 640px) {
  .contacto main section:nth-child(2) {
    flex-direction: column; }
    .contacto main section:nth-child(2) div {
      text-align: center; }
    .contacto main section:nth-child(2) iframe {
      margin: 1.875rem auto;
      width: 80%;
      height: 15.625rem; } }

.productos-1 {
  background-image: url(../assets/images/pagina-2.jpg); }
  .productos-1 header nav ul li:nth-child(2) {
    background-color: #723fff; }
    .productos-1 header nav ul li:nth-child(2) a {
      color: white; }
  .productos-1 main section:nth-child(1) {
    margin-top: 3.75rem;
    width: 100%; }
    .productos-1 main section:nth-child(1) div:nth-child(1) {
      background-image: url(../assets/images/xpg-pro.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 50rem; }
      .productos-1 main section:nth-child(1) div:nth-child(1) h1 {
        color: white;
        text-shadow: #000000 .3125rem .3125rem .9375rem;
        text-align: center;
        font-size: 5rem;
        padding-top: 6.25rem; }
    .productos-1 main section:nth-child(1) div:nth-child(2) {
      margin-top: 3.75rem;
      padding: 3.75rem;
      text-shadow: #0E0E0E 0rem 0 .9375rem;
      color: #cafbff;
      text-align: center;
      font-size: 1.875rem;
      background: #2d0066;
      background: radial-gradient(circle, #3c008b 0%, #2d0042 100%); }
      .productos-1 main section:nth-child(1) div:nth-child(2) p {
        width: 80%;
        margin-top: .625rem;
        font-size: 1.5625rem;
        color: white;
        margin: auto;
        letter-spacing: .25rem; }
        .productos-1 main section:nth-child(1) div:nth-child(2) p .rojo {
          animation: arcoiris 6s infinite; }
      .productos-1 main section:nth-child(1) div:nth-child(2) h2 {
        margin-top: 1.875rem;
        margin-bottom: 1.875rem; }
        .productos-1 main section:nth-child(1) div:nth-child(2) h2 .arcoiris {
          animation: arcoiris 6s infinite; }

@media (max-width: 1230px) {
  .container-individual-producto {
    flex-direction: column;
    align-items: center; }
    .container-individual-producto div h3 {
      text-align: center; }
    .container-individual-producto div ul li {
      list-style: none;
      text-align: center; } }

@media (max-width: 768px) {
  .productos-1 main section:nth-child(1) div:nth-child(1) {
    height: 31.25rem; }
    .productos-1 main section:nth-child(1) div:nth-child(1) h1 {
      font-size: 3.125rem; }
  .productos-1 main section:nth-child(1) div:nth-child(2) {
    font-size: 1.875rem; }
    .productos-1 main section:nth-child(1) div:nth-child(2) p {
      font-size: 1.6875rem; }
      .productos-1 main section:nth-child(1) div:nth-child(2) p .desaparecer {
        display: none; } }

@media (max-width: 425px) {
  .productos-1 {
    background-size: 125rem;
    background-repeat: repeat; }
    .productos-1 main section:nth-child(1) div:nth-child(1) {
      height: 28.125rem; }
      .productos-1 main section:nth-child(1) div:nth-child(1) h1 {
        padding-top: 3.75rem;
        font-size: 2.5rem; }
    .productos-1 main section:nth-child(1) div:nth-child(2) {
      font-size: 1.25rem;
      padding: .3125rem; }
      .productos-1 main section:nth-child(1) div:nth-child(2) h2 {
        margin-top: .625rem; }
        .productos-1 main section:nth-child(1) div:nth-child(2) h2 .arcoiris {
          animation: arcoiris 6s infinite; }
      .productos-1 main section:nth-child(1) div:nth-child(2) p {
        width: 100%;
        text-align: center;
        margin-bottom: .625rem;
        font-size: 1.25rem; }
        .productos-1 main section:nth-child(1) div:nth-child(2) p .invicible {
          display: none; } }

.newsletter {
  background-color: #497CFF;
  padding: 1.875rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: space-between; }
  .newsletter p {
    margin: 0rem;
    font-size: 1.875rem; }
  .newsletter div {
    display: flex;
    justify-content: flex-end;
    gap: .3125rem; }
    .newsletter div input {
      font-size: 1.0625rem; }
    .newsletter div button {
      background-color: white;
      font-size: 1.25rem;
      border-radius: .625rem;
      padding: .25rem; }

@media (max-width: 844px) {
  .newsletter {
    padding: 1.25rem; }
    .newsletter p {
      font-size: 1.5rem;
      width: 70%; }
    .newsletter div {
      width: 30%;
      align-items: center; }
      .newsletter div input {
        height: 1.25rem; } }

@media (max-width: 644px) {
  .newsletter {
    flex-direction: column;
    gap: .625rem; }
    .newsletter p {
      width: 100%;
      text-align: center; }
    .newsletter div {
      width: 100%;
      justify-content: center; } }

@media (max-width: 502px) {
  .newsletter div button {
    font-size: 1rem; } }

@media (max-width: 389px) {
  .newsletter {
    padding: .625rem; }
    .newsletter p {
      font-size: .9375rem; } }

footer {
  background: #11001a;
  background: linear-gradient(180deg, #370055 0%, #4f0074 52%, #3a0068 100%);
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-top: .9375rem;
  padding-bottom: .9375rem; }
  footer div:nth-child(1) a {
    margin-left: .625rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none; }
  footer div:nth-child(1) img {
    width: 2.5rem;
    height: 2.5rem; }
  footer div:nth-child(1) p {
    color: white;
    font-weight: bolder;
    font-size: 1.75rem;
    margin: 0rem; }
  footer div a {
    margin-right: 2.5rem; }
    footer div a img {
      width: 1.875rem;
      height: 1.875rem;
      transition-duration: 1s;
      transition-timing-function: ease-out; }
      footer div a img:hover {
        transform: rotate(360deg); }
  footer p {
    color: black; }

@media (max-width: 56.25rem) {
  footer div a {
    margin-right: .625rem; } }

@media (max-width: 70.3125rem) {
  footer {
    padding-top: .4375rem;
    padding-bottom: .4375rem; } }

@media (max-width: 31.375rem) {
  footer {
    flex-direction: column; }
    footer p {
      text-align: center; }
    footer div:nth-child(1) p {
      font-size: 1.5rem; }
    footer div a {
      margin-right: 1.875rem; }
      footer div a img {
        width: 1.5625rem;
        height: 1.5625rem; } }
