@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal; }

body {
  background-color: #2a0d50bd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

header {
  background: #33004b;
  align-items: flex-end;
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  z-index: 3; }
  header div {
    display: flex;
    align-items: center;
    gap: 8px; }
    header div img {
      width: 40px;
      height: 40px; }
    header div p {
      color: antiquewhite;
      font-weight: bolder;
      font-size: 1.75rem; }
  header nav {
    margin-right: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; }
    header nav ul {
      display: flex;
      gap: 1.25rem; }
      header nav ul li {
        font-size: 20px;
        background-color: antiquewhite;
        padding: 15px;
        border: 2px solid black;
        border-radius: 18px;
        list-style: none;
        transition: background-color 0.5s; }
        header nav ul li:hover {
          background-color: #948aff; }
        header nav ul li:nth-child(1) {
          background-color: #6355ff; }
        header nav ul li a {
          color: black;
          text-decoration: none; }

.index {
  background-image: url(../assets/images/pagina-1.png); }
  .index main section:nth-child(1) {
    margin-top: 100px; }
    .index main section:nth-child(1) div h1 {
      color: antiquewhite;
      text-shadow: #000000 5px 5px 15px;
      text-align: center;
      font-size: 80px;
      padding-top: 30px; }
    .index main section:nth-child(1) div div {
      margin-top: 40px;
      display: flex;
      flex-direction: column; }
      .index main section:nth-child(1) div div p {
        color: #dff9ff;
        text-shadow: #0E0E0E 0px 0 5px;
        padding: 30px;
        margin-top: 40px;
        margin-left: 40px;
        margin-bottom: 40px;
        margin-right: 40px;
        font-size: 30px;
        background-color: #4b4b4b81;
        text-align: center; }
  .index main section:nth-child(2) {
    padding: 20px;
    text-shadow: #0E0E0E 0px 0 15px;
    color: #8D83FF;
    text-align: center;
    font-size: 40px;
    background: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.618085) 93%, rgba(0, 0, 0, 0.444415) 96%, rgba(0, 0, 0, 0) 100%); }
    .index main section:nth-child(2) p {
      margin-top: 10px;
      font-size: 35px;
      color: #497CFF;
      margin-left: 100px;
      margin-right: 6.25rem; }

.nosotros {
  background-image: url(../assets/images/pagina-4.png); }
  .nosotros main {
    margin-top: 120px; }
    .nosotros main section:nth-child(1) h1 {
      color: antiquewhite;
      text-shadow: #000000 5px 5px 30px;
      text-align: center;
      font-size: 70px;
      margin-bottom: 40px; }
    .nosotros main section:nth-child(1) div {
      display: flex;
      justify-content: center; }
      .nosotros main section:nth-child(1) div p {
        align-items: center;
        background-color: #00000081;
        padding: 40px;
        text-align: center;
        font-size: 25px;
        color: #ffffff;
        width: 90%; }
    .nosotros main section:nth-child(2) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 70px; }
      .nosotros main section:nth-child(2) div {
        margin: 10px 3% 10px 3%;
        display: flex;
        align-items: center; }
        .nosotros main section:nth-child(2) div img {
          height: 300px; }
        .nosotros main section:nth-child(2) div p {
          width: 70%;
          color: white;
          text-shadow: #0E0E0E 4px 0 5px;
          font-size: 23px;
          margin-left: 50px;
          margin-right: 50px; }
        .nosotros main section:nth-child(2) div:nth-child(2) {
          flex-direction: row-reverse; }
    .nosotros main section:nth-child(3) h3 {
      padding: 20px;
      text-shadow: #0E0E0E 0px 0 15px;
      color: #8D83FF;
      text-align: center;
      font-size: 40px;
      background: black;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.618085) 93%, rgba(0, 0, 0, 0.444415) 96%, rgba(0, 0, 0, 0) 100%); }

.tercera-seccion {
  margin-top: 40px; }
  .tercera-seccion div {
    flex-wrap: wrap;
    gap: 70px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 40px; }
    .tercera-seccion div div {
      background-color: antiquewhite;
      border-radius: 10px;
      width: 25%;
      transition: transform 0.3s ease;
      z-index: 1; }
      .tercera-seccion div div:hover {
        transform: scale(1.2);
        z-index: 2; }
      .tercera-seccion div div img {
        background-size: cover;
        width: 100%; }
      .tercera-seccion div div p {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        font-size: 30px;
        background-color: #9c92fc93;
        padding-top: 10px; }

.FAQ {
  background-image: url(../assets/images/pagina-3.png); }
  .FAQ main section:nth-child(1) {
    margin: 100px 80px 50px 80px; }
    .FAQ main section:nth-child(1) h1 {
      text-shadow: #747474 5px 5px 30px;
      color: antiquewhite;
      font-size: 80px;
      margin-bottom: 50px; }
    .FAQ main section:nth-child(1) div .container-blanco, .FAQ main section:nth-child(1) div .container-negro {
      display: flex;
      font-size: 19px;
      gap: 30px;
      padding: 20px 20px 60px 20px;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 0.527);
      align-items: center; }
      .FAQ main section:nth-child(1) div .container-blanco h2, .FAQ main section:nth-child(1) div .container-negro h2 {
        width: 30%; }
        .FAQ main section:nth-child(1) div .container-blanco h2 br, .FAQ main section:nth-child(1) div .container-negro h2 br {
          display: none; }
      .FAQ main section:nth-child(1) div .container-blanco p, .FAQ main section:nth-child(1) div .container-negro p {
        width: 70%; }
    .FAQ main section:nth-child(1) div .container-negro {
      background-color: #00000085;
      color: white; }

.boton-contactanos {
  display: flex;
  justify-content: center; }
  .boton-contactanos a {
    box-shadow: 0px 8px 30px #000000;
    border: 2px solid black;
    color: antiquewhite;
    background-color: #1D10B5;
    margin-bottom: 50px;
    font-size: 40px;
    padding: 30px 100px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center; }

.contacto {
  background-image: url(../assets/images/pagina-5.png); }
  .contacto main .flex-contacto {
    display: flex;
    justify-content: center;
    margin-top: 100px; }
    .contacto main .flex-contacto .container-contacto {
      border-radius: 15px;
      background-color: white;
      margin: 50px;
      width: 80%;
      height: 600px; }
      .contacto main .flex-contacto .container-contacto h3 {
        padding-left: 10px;
        font-size: 40px;
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        color: white;
        background-color: #242424; }
      .contacto main .flex-contacto .container-contacto .container-inputs-contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; }
        .contacto main .flex-contacto .container-contacto .container-inputs-contacto .top-items, .contacto main .flex-contacto .container-contacto .container-inputs-contacto .bottom-items {
          margin-top: 30px;
          margin-bottom: 30px;
          display: flex;
          width: 95%;
          justify-content: space-between; }
          .contacto main .flex-contacto .container-contacto .container-inputs-contacto .top-items .input-blank, .contacto main .flex-contacto .container-contacto .container-inputs-contacto .bottom-items .input-blank {
            padding: 10px;
            padding-right: 15%;
            padding-left: 15%;
            border: #000000 solid 1px;
            border-radius: 20px;
            text-align: center; }
        .contacto main .flex-contacto .container-contacto .container-inputs-contacto .bottom-items {
          margin-top: 0px;
          margin-bottom: 0px; }
        .contacto main .flex-contacto .container-contacto .container-inputs-contacto .blank-space {
          display: flex;
          flex-direction: column;
          width: 95%;
          height: 300px; }
          .contacto main .flex-contacto .container-contacto .container-inputs-contacto .blank-space input:nth-child(1) {
            padding: 10px;
            padding-right: 15%;
            padding-left: 15%;
            border: #000000 solid 1px;
            border-radius: 20px;
            text-align: center;
            margin-top: 30px; }
          .contacto main .flex-contacto .container-contacto .container-inputs-contacto .blank-space input:nth-child(2) {
            padding: 10px;
            padding-right: 15%;
            padding-left: 15%;
            border: #000000 solid 1px;
            border-radius: 20px;
            text-align: center;
            margin-top: 30px;
            height: 300px; }
        .contacto main .flex-contacto .container-contacto .container-inputs-contacto button {
          background-color: #5835d6dc;
          margin-top: 22px;
          padding-top: 10px;
          padding-left: 170px;
          padding-right: 170px;
          padding-bottom: 16px;
          border-radius: 20px;
          text-align: center; }

.newsletter {
  background-color: #497CFF;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 30px; }
  .newsletter p {
    font-size: 30px; }

footer {
  background: #3a0068;
  background: linear-gradient(0deg, rgba(58, 0, 104, 0.94) 0%, rgba(79, 0, 116, 0.79) 68%, rgba(17, 0, 26, 0.17) 100%);
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px; }
  footer div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 8px; }
    footer div:nth-child(1) img {
      width: 40px;
      height: 40px; }
    footer div:nth-child(1) p {
      color: antiquewhite;
      font-weight: bolder;
      font-size: 1.75rem; }
  footer div a {
    margin-right: 40px;
    gap: 40px; }
    footer div a img {
      width: 30px;
      height: 30px; }
