footer{
    background: rgb(17,0,26);
    background: linear-gradient(180deg, rgb(55, 0, 85) 0%, rgba(79,0,116,1) 52%, rgba(58,0,104,1) 100%);
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    div {
        &:nth-child(1){
            a{
                margin-left: .625rem;
                display: flex;
                align-items: center;
                gap: .5rem;
                text-decoration: none;
            }
            img{
                width: 2.5rem;
                height: 2.5rem;
                }
            p{
                color:map-get($colores,blanco );
                font-weight: bolder;
                font-size: 1.75rem;
                margin: 0rem;
            }
        }
        a{
            margin-right: 2.5rem;
            img{
                width: 1.875rem;
                height: 1.875rem;
                transition-duration: 1s ;
                transition-timing-function: ease-out;
                &:hover{
                    transform: rotate(360deg);
                }
            }
        }
    }    
    p{
        color: black;
    }
}
@media (max-width: 56.25rem){
    footer{
        div{
            a{
                margin-right: .625rem;
            }
        }
    }
}
@media (max-width: 70.3125rem){
    footer{
        padding-top: .4375rem;
        padding-bottom: .4375rem;
    }
}
@media (max-width: 31.375rem){
    footer{
        flex-direction: column;
        p{
            text-align: center;
        }
        div{
            &:nth-child(1){
                p{
                    font-size: 1.5rem;
                }
            }
            a{
                margin-right: 1.875rem;
                img{
                    width: 1.5625rem;
                    height: 1.5625rem;
                }
            }
        }
    }
}