header{
    background: rgb(17,0,26);
    background: linear-gradient(180deg, rgba(17,0,26,1) 0%, rgba(79,0,116,1) 52%, rgba(58,0,104,1) 100%);
    align-items: flex-end;
    display: flex;
    padding-bottom: .9375rem;
    padding-top: .9375rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    z-index: 3;
    padding-left: .625rem;
    div{
        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: .5rem;
                img{
                    width: 2.5rem;
                    height: 2.5rem;
                }
                p{
                    color:map-get($colores,blanco );
                    font-weight: bolder;
                    font-size: 1.75rem;
                    margin-bottom: 0rem;
                }
        }
    }
    nav{
        margin-right: 1.25rem;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        ul{
            display: flex;
            gap: 1.25rem;
            margin: 0rem;
            padding: 0rem;
            li{
                
                font-size: 1.25rem;
                background-color: map-get($colores,blanco );
                padding: .9375rem;
                border: .125rem solid black;
                border-radius: .5rem;
                list-style:none;
                transition: background-color 1s;
                &:hover{
                    background-color: #6200ff;
                    a{
                        color: white ;
                        transition: 1s ease-in-out ;
                    }
                }
                a{
                    color: map-get($colores,negro );
                    text-decoration: none;
                }
            }
        }
    }
}
@media (max-width:1125px){
    header{
        padding-top: .5rem;
        padding-bottom: .5rem;
        nav{
            ul{
                li{
                    font-size: 1.125rem;
                    padding: .375rem;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    header{
        padding-top: .25rem;
        padding-bottom: .25rem;
        nav{
            ul{
                gap: .625rem;
                li{
                    font-size: .75rem;
                }
            }
        }
        div{
            justify-content: center;
            margin: .625rem 0rem;
        }
    }
}
@media(max-width:501px){
    header{
        flex-direction: column;
        padding-top: .125rem;
        padding-bottom: .125rem;
        padding-left: 0;
        div{
            justify-content: center;
            p{
                font-size: 1.125rem;
            }
        }
        nav{
            margin: 0rem;
            justify-content:  center;
            ul{
                gap: .625rem;
                margin-bottom: .3125rem;
                li{
                    font-size: .875rem;
                    padding: .1875rem;
                }
            }
        }
    }
}
@media(max-width:21.875rem){
    header{
        nav{
            ul{
                gap: .0625rem;
            }
        }
    }
}
