header{
    background: rgb(17,0,26);
    background: linear-gradient(180deg, rgba(17,0,26,1) 0%, rgba(79,0,116,1) 52%, rgba(58,0,104,1) 100%);
    align-items: flex-end;
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    z-index: 3;
    padding-left: 10px;
    div{
        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 8px;
                img{
                    width: 40px;
                    height: 40px;
                }
                p{
                    color:map-get($colores,blanco );
                    font-weight: bolder;
                    font-size: 1.75rem;
                    margin-bottom: 0px;
                }
        }
    }
    nav{
        margin-right: 20px;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        ul{
            display: flex;
            gap: 1.25rem;
            margin: 0px;
            padding: 0px;
            li{
                
                font-size: 20px;
                background-color: map-get($colores,blanco );
                padding: 15px;
                border: 2px solid black;
                border-radius: 8px;
                list-style:none;
                transition: background-color 1s;
                &:hover{
                    background-color: #6200ff;
                    a{
                        color: white ;
                        transition: 1s ease-in-out ;
                    }
                }
                a{
                    color: map-get($colores,negro );
                    text-decoration: none;
                }
            }
        }
    }
}
@media (max-width:1125px){
    header{
        padding-top: 8px;
        padding-bottom: 8px;
        nav{
            ul{
                li{
                    font-size: 18px;
                    padding: 6px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header{
        padding-top: 4px;
        padding-bottom: 4px;
        nav{
            ul{
                gap: 10px;
                li{
                    font-size: 12px;
                }
            }
        }
        div{
            justify-content: center;
            margin: 10px 0px;
        }
    }
}
@media(max-width:501px){
    header{
        flex-direction: column;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 0;
        div{
            justify-content: center;
            p{
                font-size: 18px;
            }
        }
        nav{
            margin: 0px;
            justify-content:  center;
            ul{
                gap: 10px;
                margin-bottom: 5px;
                li{
                    font-size: 14px;
                    padding: 3px;
                }
            }
        }
    }
}
@media(max-width:350px){
    header{
        nav{
            ul{
                gap: 1px;
            }
        }
    }
}
