.index{
    background-image: url(../assets/images/background-index-2.png);
    background-size: cover;
    header{
        nav{
            ul{
                li{
                    &:nth-child(1){
                        background-color: map-get($colores,lila );
                        a{
                            color: white ;
                        }
                    }
                }
            }
        }
    }
    main{
        section{
            &:nth-child(1){
                margin-top: 100px;
                div{
                    h1{
                        color: map-get($colores,blanco );
                        text-shadow: #000000 5px 5px 15px;
                        text-align: center;
                        font-size: 80px;
                        padding-top: 30px;
                        span{
                            animation: arcoiris 6s infinite;
                        }
                    }
                    div{
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;
                        
                        p{
                            color:map-get($colores,blanco );
                            text-shadow: #0E0E0E 0px 0 5px;
                            padding: 30px;
                            margin-top: 40px;
                            margin-left: 40px;
                            margin-bottom: 40px;
                            margin-right: 40px;
                            font-size: 30px;
                            background-color: #20202081;
                            text-align: center;
                            .rojo{
                                animation: arcoiris 6s infinite;
                            }
                        }
                    }
                }
            }
            &:nth-child(2){
                @include titulos-secudarios(40px);
                p{
                    margin-top: 10px;
                    color: map-get($colores,blanco );
                    margin-left: 100px;
                    margin-right: 6.25rem;
                }
            }
        
        }
    }
}
@keyframes arcoiris{
    0%{
        color: orange ;
    }
    25%{
        color: red;
    }
    50%{
        color: rgb(134, 0, 223);
    }
    75%{
        color: rgb(69, 69, 255);
    }
    90%{
        color: skyblue;
    }
    100%{
        color: rgb(255, 182, 46) ;
    }
}