.index{
    background-image: url(../assets/images/pagina-1.png);
    header{
        nav{
            ul{
                li{
                    &:nth-child(1){
                        background-color: map-get($colores,lila );
                    }
                }
            }
        }
    }
    main{
        section{
            &:nth-child(1){
                margin-top: 100px;
                div{
                    h1{
                        color: map-get($colores,blanco );
                        text-shadow: #000000 5px 5px 15px;
                        text-align: center;
                        font-size: 80px;
                        padding-top: 30px;
                        span{
                            color: map-get($colores, naranja )
                        }
                    }
                    div{
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;
                        
                        p{
                            color:map-get($colores,blanco );
                            text-shadow: #0E0E0E 0px 0 5px;
                            padding: 30px;
                            margin-top: 40px;
                            margin-left: 40px;
                            margin-bottom: 40px;
                            margin-right: 40px;
                            font-size: 30px;
                            background-color: #4b4b4b81;
                            text-align: center;
                            .rojo{
                                color: map-get($colores, naranja )
                            }
                        }
                    }
                }
            }
            &:nth-child(2){
                @include titulos-secudarios(40px);
                p{
                    margin-top: 10px;
                    color: map-get($colores,celeste );
                    margin-left: 100px;
                    margin-right: 6.25rem;
                }
            }
        
        }
    }
}