.index{
    background-image: url(../assets/images/background-index-2.jpg);
    background-size: cover;
    header{
        nav{
            ul{
                li{
                    &:nth-child(1){
                        background-color: map-get($colores,lila );
                        a{
                            color: map-get($colores, blanco );
                        }
                    }
                }
            }
        }
    }
    main{
        section{
            &:nth-child(1){
                margin-top: 6.25rem;
                div{
                    h1{
                        color: map-get($colores,blanco );
                        text-shadow: #000000 .3125rem .3125rem .9375rem;
                        text-align: center;
                        font-size: 5rem;
                        padding-top: 1.875rem;
                        span{
                            animation: arcoiris 6s infinite;
                        }
                    }
                    div{
                        margin-top: 2.5rem;
                        display: flex;
                        flex-direction: column;
                        p{
                            color:map-get($colores,blanco );
                            text-shadow: #0E0E0E 0rem 0 .3125rem;
                            padding: 1.875rem;
                            margin-top: 2.5rem;
                            margin-left: 15%;
                            margin-bottom: 2.5rem;
                            margin-right: 15%;
                            font-size: 1.5625rem;
                            background-color: #20202081;
                            text-align: center;
                            letter-spacing: .1875rem;
                            .rojo{
                                animation: arcoiris 6s infinite;
                            }
                        }
                    }
                }
            }
            &:nth-child(2){
                @include titulos-secudarios(2rem);
                p{
                    margin-top: .625rem;
                    color: map-get($colores,blanco );
                    margin-left: 6.25rem;
                    margin-right: 6.25rem;
                }
            }
        
        }
    }
}
@keyframes arcoiris{
    0%{
        color: orange ;
    }
    25%{
        color: red;
    }
    50%{
        color: rgb(134, 0, 223);
    }
    75%{
        color: rgb(69, 69, 255);
    }
    90%{
        color: skyblue;
    }
    100%{
        color: rgb(255, 182, 46) ;
    }
}