.nosotros{
    background-image: url(../assets/images/pagina-4.jpg);

    header{
        nav{
            ul{
                li{
                    &:nth-child(3){
                        background-color: map-get($colores,lila );
                        a{
                            color: white ;
                        }
                    }
                }
            }
        }
    }
    main{
        margin-top: 120px;
        section{
            .rojo{
                color: map-get($colores,naranja );
            }
            &:nth-child(1){
                h1{
                    color: map-get($colores,blanco );
                    text-shadow: #000000 5px 5px 30px;
                    text-align: center;
                    font-size: 70px;
                    margin-bottom: 40px;
                }
                div{
                    display: flex;
                    justify-content: center;
                    p{
                        align-items: center;
                        background-color: #00000081;
                        padding: 40px;
                        text-align: center;
                        font-size: 25px;
                        color: map-get($colores,blanco );
                        width: 90%;
                    }
                }
            }
            &:nth-child(2){
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 200px;
                div{
                    margin: 10px 10% 10px 10%;
                    display: flex;
                    align-items: center;
                    img{
                        height: 300px;
                        border-radius: 10px;
                    }
                    p{
                        width: 70%;
                        color: map-get($colores,blanco );
                        text-shadow: #0E0E0E 4px 0 5px;
                        font-size: 23px;
                        margin-left: 50px;
                        margin-right: 50px;
                    }
                    
                    &:nth-child(2){
                        flex-direction: row-reverse;
                        animation-delay: 1s;
                    }
                }
            }
            &:nth-child(3){
                .segundo-titulo{
                    @include titulos-secudarios(45px);
                }    
            }
        }
    }
}
// pequeña prueba de animaciones
@keyframes slide-top {
    0% {
    transform: translateY(0);
    }
    100% {
    transform: translateY(-100px);
    }
}
.slide-top{
    animation: slide-top 2s both;
}
