.nosotros{
    background-image: url(../assets/images/pagina-4.jpg);
    header{
        nav{
            ul{
                li{
                    &:nth-child(3){
                        background-color: map-get($colores,lila );
                        a{
                            color: map-get($colores,blanco );
                        }
                    }
                }
            }
        }
    }
    main{
        margin-top: 7.5rem;
        section{
            .rojo{
                color: map-get($colores,naranja );
            }
            &:nth-child(1){
                h1{
                    color: map-get($colores,blanco );
                    text-shadow: #000000 .3125rem .3125rem 1.875rem;
                    text-align: center;
                    font-size: 4.375rem;
                    margin-bottom: 2.5rem;
                }
                div{
                    display: flex;
                    justify-content: center;
                    p{
                        align-items: center;
                        background-color: #000000b0;
                        padding: 2.5rem;
                        text-align: center;
                        font-size: 1.5625rem;
                        color: map-get($colores,blanco );
                        width: 90%;
                    }
                }
            }
            &:nth-child(2){
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 12.5rem;
                div{
                    margin: .625rem 10% .625rem 10%;
                    display: flex;
                    align-items: center;
                    img{
                        height: 18.75rem;
                        border-radius: .625rem;
                    }
                    p{
                        width: 70%;
                        color: map-get($colores,blanco );
                        text-shadow: #0E0E0E .25rem 0 .3125rem;
                        font-size: 1.4375rem;
                        margin-left: 3.125rem;
                        margin-right: 3.125rem;
                    }
                    
                    &:nth-child(2){
                        flex-direction: row-reverse;
                        animation-delay: 1s;
                    }
                }
            }
            &:nth-child(3){
                .segundo-titulo{
                    @include titulos-secudarios(2.8125rem);
                }    
            }
        }
    }
}
@keyframes slide-top {
    0% {
    transform: translateY(0);
    }
    100% {
    transform: translateY(-6.25rem);
    }
}
.slide-top{
    animation: slide-top 2s both;
}
