.productos-1{
    background-image: url(../assets/images/pagina-2.png); 
    header{
        nav{
            ul{
                li{
                    &:nth-child(2){
                        background-color: map-get($colores,lila );
                        a{
                            color: white ;
                        }
                    }
                }
            }
        }
    }
    main{
        section{
            &:nth-child(1){
                margin-top: 60px;
                width: 100%;
                div{
                    &:nth-child(1){
                        background-image: url(../assets/images/xpg-pro.jpg) ;
                        background-position: center ;
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 800px;
                        h1{ 
                            color: map-get($colores,blanco );
                            text-shadow: #000000 5px 5px 15px;
                            text-align: center;
                            font-size: 80px;
                            padding-top: 30px;
                        }
                    }
                    &:nth-child(2){
                        margin-top: 60px;
                        @include titulos-secudarios(30px);
                        p{
                            width: 90%;
                            margin-top: 10px;
                            font-size: 30px;
                            color: map-get($colores,celeste );
                            margin: auto;
                            .rojo{
                                animation: arcoiris 6s infinite;
                            }
                        }
                        h2{
                            margin-top: 30px ;
                            margin-bottom: 30px;
                            .arcoiris{
                                animation: arcoiris 6s infinite;
                            }
                        }
                    }
                }
            }
        }
    }
}