$colores:(
    violeta:rgb(51, 0, 75),
    violeta-de-fondo: #2a0d50bd,
    lila:  rgb(114, 63, 255),
    rosa:rgba(192, 82, 255, 0.699),
    azul: #1D10B5,
    azul-light: rgb(32, 32, 255),
    blanco:white,
    celeste: #497CFF,
    negro: #242424,
    naranja: rgb(255, 72, 0),
    rojo: #ff0000,
)
