@media(max-width: 425px){
    .contacto{
        main{
            .flex-contacto{
                .container-contacto{
                    h3{
                        text-align: center;
                    }
                    height: 704px;
                    .container-inputs-contacto{
                        .top-items{
                            flex-direction: column;
                            gap: 20px;
                            input{
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:640px){
    .contacto{
        main{
            section{
                &:nth-child(2){
                    flex-direction: column;
                    div{
                        text-align: center;
                    }
                    iframe{
                        margin: 30px auto ;

                        width: 80%;
                    }
                }
            }
        }
    }
}