@media (max-width:768px){
    .contacto{
        main{
            section{
                &:nth-child(2){
                    iframe{
                        height: 21.25rem;
                    }
                }
            }
        }
    }
}
@media(max-width: 425px){
    .contacto{
        main{
            .flex-contacto{
                .container-contacto{
                    h1{
                        text-align: center;
                    }
                    height: 44rem;
                    .container-inputs-contacto{
                        .top-items{
                            flex-direction: column;
                            gap: 1.25rem;
                            align-items: center;
                            input{
                                width: 90%;
                            }
                        }
                        .blank-space{
                            .motivo{
                                width: 97%;
                            }
                        }
                        button{
                            width: 50%;
                            padding: .9375rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:640px){
    .contacto{
        main{
            section{
                &:nth-child(2){
                    flex-direction: column;
                    div{
                        text-align: center;
                    }
                    iframe{
                        margin: 1.875rem auto ;
                        width: 80%;
                        height: 15.625rem;
                    }
                }
            }
        }
    }
}