@media(max-width: 1125px){
    .index{
        main{
            section{
                &:nth-child(1){
                    margin-top: 3.75rem;
                    div{
                        h1{
                            font-size: 3.75rem;
                        }
                        div{
                            p{
                                font-size: 1.625rem;
                            }
                        }
                    }
                }
                &:nth-child(2){
                    padding: 1.25rem;
                }
            }
        }
    }
}
@media(max-width:768px) {
    .index{
        main{
            section{
                &:nth-child(1){
                    margin-top: 2.5rem;
                    div{
                        h1{
                            font-size: 3.125rem;
                        }
                        div{
                            img{
                                height: 25rem;
                            }
                            p{
                                font-size: 1.125rem;
                            }
                        }
                    }
                }
                &:nth-child(2){
                    font-size: 1.5625rem;
                    padding-top: 3.75rem;
                    padding-bottom: 3.75rem;
                    p{
                        margin-left: 0;
                        margin-right: 0;
                        margin-top: .625rem;
                    }
                }
            }
        }
    }
}
@media(max-width:526px){
    .index{
        main{
            section{
                &:nth-child(1){
                    margin-top: 4.375rem;
                    div{
                        h1{
                            font-size: 2.5rem;
                        }
                        div{
                            img{
                                height: 18.75rem;
                            }
                            p{
                                .invicible{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:425px){
    .index{
        main{
            section{
                &:nth-child(1){
                    div{
                        div{
                            img{
                                height: 17.5rem;
                            }
                            p{
                                margin-right: .625rem;
                                margin-left: .625rem;
                                padding-left: .625rem;
                                padding-right: .625rem;
                            }
                        }
                    }
                }
                &:nth-child(2){
                    padding: .1875rem;
                    font-size: 1.25rem;
                    p{
                        font-size: 1.4375rem;
                    }
                }
            }
        }
    }
}
@media(max-width:20.3125rem){
    .index{
        main{
            section{
                &:nth-child(1){
                    margin-top: 4.375rem;
                    div{
                        h1{
                            font-size: 1.875rem;
                        }
                    }
                }
                &:nth-child(2){
                    padding: .1875rem;
                    font-size: 1.25rem;
                    p{
                        font-size: 1.1875rem;
                    }
                }
            }
        }
    }
}
