.accordion-item{    
    background-color: map-get($colores, lila );
    border: .25rem solid black;
}
.fondo-personalizado-violeta{
    background-color: map-get($colores, celeste );
}
.accordion{
    margin-top: 1.25rem;
}
