.accordion-item{    
    background-color: map-get($colores, lila );
    border: 4px solid black;
}
.fondo-personalizado-violeta{
    background-color: map-get($colores, rosa )
}
.accordion{
    margin-top: 20px;
}