// .boton-contactanos{
//     display: flex;
//     justify-content: center;
//     a{
//         box-shadow: 0px 8px 30px #000000;
//         border: 2px solid black;
//         color: antiquewhite;
//         background: rgb(103,0,113);
//         background: linear-gradient(320deg, rgba(103,0,113,1) 0%, rgba(103,0,157,1) 52%, rgba(0,42,182,1) 100%);
//         margin-bottom: 50px;
//         font-size: 40px;
//         padding: 30px 100px;
//         border-radius: 50px;
//         text-decoration: none;
//         text-align: center;
//     }
//     @media (max-width:768px){
//         a{
//             padding: 20px 80px;
//             font-size: 25px;
//             margin-bottom: 25px;
//         }
//     }
//     @media (max-width:621px){
//         a{
//             padding: 25px 50px;
//             font-size: 20px;
//             margin-bottom: 30px;
//         }
//     }
//     @media (max-width:320px){
//         a{
//             padding: 13px 25px;
//             font-size: 16px;
//             margin-bottom: 25px;
//         }
//     }
// }
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.boton-faq {
    font-size: 30px;
    text-decoration: none;
    background: #fff; /* color de fondo */
    color: #4741d7; /* color de fuente */
    border: 3px solid #2923d1; /* tamaño y color de borde */
    padding: 20px 5%;
    border-radius: 5px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}
.boton-faq:hover {
    color: #fff; /* color de fuente hover */
}
.boton-faq::after {
    content: "";
    background: #2923d1; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.boton-faq:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
@media (max-width:500px){
    .boton-faq{
        font-size: 20px;
        padding: 20px 10px;
    }
}