
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
// este estilo lo encontre en la web, le he hecho pequeños cambios para personalizarlo
.boton-faq {
    font-size: 30px;
    text-decoration: none;
    background: #fff;
    color: #4741d7;
    border: 3px solid #2923d1;
    padding: 20px 5%;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}
.boton-faq:hover {
    color: map-get($colores, blanco);
}
.boton-faq::after {
    content: "";
    background: #2923d1;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.boton-faq:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
@media (max-width:500px){
    .boton-faq{
        font-size: 20px;
        padding: 20px 10px;
    }
}