
.card-index{
    width: 80%;
    margin: auto;
    margin-top: 60px;
    div{
        flex-wrap: wrap;
        gap: 70px;
        display: flex;
        align-items: stretch;
        justify-content: center;
        margin-bottom: 40px;
        width: 100%;
        height: 100%;
        .container-producto{
            border-radius: 10px;
            background-color: map-get($colores,negro );
            width: 25%;
            transition: transform 0.3s ease;
            z-index: 1;
            a{
                width: 100%;
                height: 100%;
                text-decoration: none;
                div{
                    background: none;
                    display: none;
                }
                .texto{
                    display: none;
                    ul{
                        background: none;
                        li{
                            background: none;
                        }
                    }
                }
                img{
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    width: 100%;
                    height: 380px;
                }
            }
            p{
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding-bottom: 5px;
                font-size: 30px;
                background-color:map-get($colores, lila );
                padding-top: 10px;
                text-align: center;
                color: map-get($colores, blanco );
            }
            &:hover{
                transform: scale(1.2);
                z-index: 2;
                .container-interno{
                    backdrop-filter:blur(3px);
                    border-radius: 10px;
                    width: 100%;
                    display: block;
                    position: absolute;
                    text-align: center;
                    height: 100%;
                    animation-name: difuminado;
                    animation-timing-function: ease-in;
                    animation-duration: 0.3s;
                    .texto{
                        display: block;
                        position: absolute;
                        color: map-get($colores, rojo );
                        background-color: inherit;
                        width: 100%;
                        text-align: center;
                        text-shadow: #000000 2px 2px 4px;
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 80%;
                        li{
                            padding: 6px;
                            color: map-get($colores,rojo );
                            
                            font-size: 20px;
                            text-shadow: #000000 2px 2px 4px;
                        }
                    }
                }
                
                
            }
        }
        
    }
    @media (max-width:768px) {
        margin-top: 20px;
        div{
            margin-bottom: 20px;
            gap: 10px;
            justify-content: space-evenly;
            .container-producto{
                width: 40%;
                img{
                    width: 100%;
                }
                p{
                    font-size: 23px;
                }
            }
        }
    }
    
    @media (max-width:425px){
        //podria agregar un carrusel en este punto
        div{
            .container-producto{
                width: 70%;
            }
        }
    }
    
}
@media(max-width:1334px){
    .card-index{
        width: 100%;
    }
}
@keyframes difuminado{
    0%{
        filter: blur(20px);
    }
    100%{
        filter: none;
    }

}
.card-componentes{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas:
    "div1 div1 div1 div3 div3 div4 div4 "
    "div1 div1 div1 div3 div3 div4 div4 "
    "div1 div1 div1 div5 div5 div6 div6 "
    "div2 div2 div2 div5 div5 div6 div6 "
    "div2 div2 div2 div7 div7 div8 div8 "
    "div2 div2 div2 div7 div7 div8 div8 "
    ;
    margin: auto;
    gap: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
    .grafica{
        grid-area: div1;
    }
    .procesador{
        grid-area: div2;
    }
    .ram{
        grid-area: div3;
    }
    .disco{
        grid-area: div4;
    }
    .gabinete{
        grid-area: div5;
    }
    .fuente{
        grid-area: div6;
    }
    .cooler{
        grid-area: div7;
    }
    .pasta{
        grid-area: div8;
    }
    .container-individual-producto{
        color: map-get($colores, blanco );
        background-color: #0e0e0e91;
        display: flex;
        gap: 30px;
        img{
            margin: 10px;
        }
        .img-izquierda{
            width: 160px;
            height: 164px;
        }
        .img-derecha{
            width: 100px;
            height: 100px;
        }
        div{
            h3{
                font-size: 25px;
                margin-top: 5px;
                color: map-get($colores, lila );
            }
            ul{
                margin-bottom: 5px;
                margin-right: 5px;
                li{
                    margin-top: 10px;
                    font-size: 19px;
                }
            }
        }
    }
    @media (max-width:768px){
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .container-individual-producto{
            width: 45%;
        }

    }
    @media (max-width:425px){
        .container-individual-producto{
            width: 80%;
        }
    }
}
@media (max-width:1024px){
    .card-index{
        div{
            .container-producto{
                a{
                    img{
                        height: 300px;
                    }
                }
            }
        }
    }
}