.card-index{
    margin-top: 40px;
    div{
        flex-wrap: wrap;
        gap: 70px;
        display: flex;
        align-items: stretch;
        justify-content: center;
        margin-bottom: 40px;
        div{
            background-color: map-get($colores, blanco);
            border-radius: 10px;
            width: 25%;
            transition: transform 0.3s ease;
            z-index: 1;
            a{
                text-decoration: none;
                &:hover{
                }
            }
            &:hover{
                transform: scale(1.2);
                z-index: 2;
                p{
                    color: red;
                }
            }
            img{
                background-size: cover;
                width:100%;
            }
            p{
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding-bottom: 5px;
                padding-left: 10px;
                font-size: 30px;
                background-color:map-get($colores, lila );
                padding-top: 10px;
                text-align: center;
                color: map-get($colores, blanco );
                

            }
        }
    }
    @media (max-width:768px) {
        margin-top: 20px;
        div{
            margin-bottom: 20px;
            gap: 10px;
            justify-content: space-evenly;
            div{
                width: 40%;
                img{
                    width: 100%;
                }
                p{
                    font-size: 23px;
                }
            }
        }
    }
    @media (max-width:425px){
        //podria agregar un carrusel en este punto
        div{
            div{
                width: 70%;
            }
        }
    }
}
.card-componentes{
    display: grid;
    width: 90%;
    height: 50%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas:
    "div1 div1 div1 div3 div3 div4 div4 "
    "div1 div1 div1 div3 div3 div4 div4 "
    "div1 div1 div1 div5 div5 div6 div6 "
    "div2 div2 div2 div5 div5 div6 div6 "
    "div2 div2 div2 div7 div7 div8 div8 "
    "div2 div2 div2 div7 div7 div8 div8 "
    ;
    margin: auto;
    gap: 30px;
    margin-bottom: 60px;
    margin-top: 60px;
    .grafica{
        grid-area: div1;
    }
    .procesador{
        grid-area: div2;
    }
    .ram{
        grid-area: div3;
    }
    .disco{
        grid-area: div4;
    }
    .gabinete{
        grid-area: div5;
    }
    .fuente{
        grid-area: div6;
    }
    .cooler{
        grid-area: div7;
    }
    .pasta{
        grid-area: div8;
    }
    .container-individual-producto{
        color: map-get($colores, blanco );
        background-color: #0e0e0e91;
        display: flex;
        gap: 30px;
        .img-izquierda{
            width: 160px;
            height: 164px;
        }
        .img-derecha{
            width: 100px;
            height: 100px;
        }
    }
}