.newsletter{
    background-color: map-get($colores, celeste);
    padding: 1.875rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    p{
        margin: 0rem;
        font-size: 1.875rem;
    }
    div{
        display: flex;
        justify-content: flex-end;
        gap: .3125rem;
        input{
            font-size: 1.0625rem;
        }
        button{
            background-color:map-get($colores, blanco );
            font-size: 1.25rem;
            border-radius: .625rem;
            padding: .25rem;
        }
    }
}
@media (max-width: 844px) {
    .newsletter{
        padding: 1.25rem;
        p{
            font-size: 1.5rem;
            width: 70%;
        }
        div{
            width: 30%;
            align-items: center;
            input{
                height: 1.25rem;
            }
        }
    }
}
@media (max-width: 644px){
    .newsletter{
        flex-direction: column;
        gap: .625rem;
        p{
            width: 100%;
            text-align: center;
        }
        div{
            width: 100%;
            justify-content: center;
        }
    }
}
@media (max-width: 502px) {
    .newsletter{
        div{
            button{
                font-size: 1rem;
            }
        }
    }
}
@media (max-width:389px){
    .newsletter{
        padding:.625rem ;
        p{
            font-size: .9375rem;
        }
    }
}