@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
body{
    background-color: map-get($colores, violeta-de-fondo );
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}