@media (max-width:789px) {
    .FAQ{
        main{
            section{
                &:nth-child(1){
                    h1{
                        font-size: 3.125rem;
                        margin-bottom: 1.5625rem;
                    }
                    div{
                        .container-blanco {
                            h2{
                                font-size: 1.375rem;
                            }
                            p{
                                font-size: 1.1875rem;
                            }
                        }
                        .container-negro{
                            h2{
                                font-size: 1.375rem;
                            }
                            p{
                                font-size: 1.1875rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:621px) {
    .FAQ{
        main{
            section{
                &:nth-child(1){
                    margin-bottom: 1.875rem;
                    div{
                        .container-blanco{
                            flex-direction: column;
                            h2{
                                text-align: center;
                                width: 100%;
                                border-right: none;
                                border-bottom: solid black;
                            }
                            p{
                                width: 90%;
                            }
                        }
                        .container-negro{
                            flex-direction: column;
                            h2{
                                width: 100%;
                                text-align: center;
                                border-right: none;
                                border-bottom: solid white;
                            }
                            p{
                                width: 90%;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
@media (max-width:320px){
    .FAQ{
        main{
            section{
                &:nth-child(1){
                    h1{
                        font-size: 1.7rem;
                    }
                    div{
                        .container-blanco{
                            p{
                                font-size: 1rem;
                            }
                        }
                        .container-negro{
                            p{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}